<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CardDrawer</title>
</head>
<body>
    <form class="/" action="/results" method="post">
        <button type="submit"> Draw a card </button>
    </form>    

</body>
</html>
